<div class="panel panel-default">

  <div class="panel-heading">
    <h4>Profile Form</h4>
  </div>

  <div class="panel-body">

    <form (ngSubmit)="onSubmit()" [ngFormModel]="profileForm">

      <div class="input-group">
        <span class="input-group-addon">Email</span>
        <input type="email"
               name="email"
               class="form-control"
               email-required
               required
               [ngFormControl]="emailCtrl">

      </div>
      <div *ngIf="!emailCtrl.pristine&&emailCtrl.hasError('required')" class="alert alert-danger"> Email is required</div>
      <div *ngIf="!emailCtrl.pristine&&emailCtrl.hasError('email')" class="alert alert-danger"> Email format is incorrect</div>

      <div class="input-group">
        <span class="input-group-addon">NickName</span>
        <input type="text"
               name="nickName"
               class="form-control"
               minlength="6"
               required
               [ngFormControl]="nickNameCtrl">
      </div>

      <div *ngIf="!nickNameCtrl.pristine&&nickNameCtrl.hasError('required')"
           class="alert alert-danger"> NickName is required</div>
      <div *ngIf="!nickNameCtrl.pristine&&nickNameCtrl.hasError('minlength')"
           class="alert alert-danger"> NickName's length must greater than 6</div>

      <div class="input-group">
        <span class="input-group-addon">Gender</span>
        <select type="text"
                name="gender"
                class="form-control"
                [ngFormControl]="genderCtrl">
          <option value="male">male</option>
          <option value="female">female</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary btn-block" [disabled]="!profileForm.valid">Submit</button>
    </form>

  </div>
</div>